# Python
venv/
venv1/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# API Key
.env
.env.*

# Data
*.parquet
.parquet_data/
*.db
*.csv
*.json
*.xlsx
*.sqlite3
.parquet/

# Jupyter
*.ipynb

# logs
*.log
*.pid
*.sqlite3

# Docker volumes / Kafka
kafka/data/
kafka/logs/


# PostgreSQL volume
postgres/data/
postgres/data/*

Airflow log & meta
airflow/logs/
airflow/airflow.cfg
airflow/unittests.cfg
airflow/db.sqlite

# VSCode / JetBrains
.vscode/
.idea/

# Mac trash
.DS_Store

# Docker
*.pid
*.sock
*.tar
*.gz
*.log
